<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>CTS Intranet</title>
    <script>
    $(document).ready(function() {
       $(".preview").click(function(){ 
          if($(this).attr('data-click-state') ==1 ){
            $(this).siblings("#pdfpreview").remove()
            $(this).html("- Preview");
            $(this).attr('data-click-state',0);
           
          }
          else{

             var href = "ViewerJS/#.."
            href+=$(this).siblings("a").attr('href');
            $(this).parent().append("<br><iframe id='pdfpreview' src = "+href+" width='400' height='300' allowfullscreen webkitallowfullscreen></iframe>")
            $(this).html("- Close Preview");
            $(this).attr('data-click-state',1);
          }
      })
       
     })
    </script>

  </head>
  <body>
    <div class="topbar">

      

      <div class="leftbar">
        <a href="/home"><img src="/images/logo.png" id="logo"></a>
      </div>
      <div class="rightbar">
   
      <img src ="/images/notifications.png" class="notifications">
      <span class="title"> CTS Intranet</span>
      </div>
    </div>
    <div class="content">
       <div class="toolbar">
            <a href="/logout"><button type="submit" class="btn btn-primary btn-xs logout">Logout</button></a>
            <a href="/home"><button type="submit" class="btn btn-primary btn-xs homebutton">Home</button></a>
            <a href="/profile"><button type="submit" class="btn btn-primary btn-xs profile">Profile</button></a>
            <a href="/calendar"><button type="submit" class="btn btn-primary btn-xs calendar">Calendar</button></a>
            <a href="/espp"><button type="submit" class="btn btn-primary btn-xs espp">ESPP</button></a>
       </div>
  
      <a href="/formupload">Upload</a><br><br>
      <h3>Files:</h3>
      <% for (var x in files) { %>
      <div class="formdiv">
        <a href="<%=files[x].path %>"><%= files[x].filename %></a>
        <a class="preview"> - Preview</a>
        </div>
   
    <% }%>
   
        
      
    </div>
  


  </body>
</html>


