<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="css/styles.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>CTS Intranet</title>
    <script>
        $( function() {
          $( "#accordion" ).accordion();
        } );
    </script>
   
  </head>
  <body>
    <div class="topbar">
      <div class="leftbar">
        <a href="/home"><img src="/images/logo.png" id="logo"></a>
      </div>
      <div class="rightbar">
      <div class="circle"><p class="text-center"></p></div>
      <img src ="/images/notifications.png" class="notifications">
      <span class="title"> CTS Intranet</span>
      </div>
    </div>
    <div class="content">
       <div class="toolbar">
          <a href="/logout"><button type="submit" class="btn btn-primary btn-xs logout">Logout</button></a>
          <a href="/home"><button type="submit" class="btn btn-primary btn-xs homebutton">Home</button></a>
          <a href="/profile"><button type="submit" class="btn btn-primary btn-xs profile">Profile</button></a>
          <a href="/calendar"><button type="submit" class="btn btn-primary btn-xs calendar">Calendar</button></a>
          <a href="/espp"><button type="submit" class="btn btn-primary btn-xs espp">ESPP</button></a>
       </div>
      <a href="/hr">Back to HR Home</a>
      <h2>Link upload:</h2>
     
      <form action="/uploadhrlink" method="post" enctype="multipart/form-data">
       <input type='text' name='linkname' class="form-control" id="exampleInputEmail1" placeholder="Link Name"><br>
      <input type='text' name='path' class="form-control" id="exampleInputEmail1" placeholder="URL"><br>
      <br>
        <div class="checkbox">
          <label><input type="checkbox" name="sticky" value="sticky">Sticky this document</label>
        </div>
      <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>



  </body>
</html>
